* {
  box-sizing: border-box;
  margin: 0%;
  /* background-color: rosybrown; */
  /* outline: solid red;
  outline-offset: -2px; */
  padding: 0;
  font-family:'Encode Sands Expanded',
  sans-serif;
}

